@import "_variables.scss";
@import "_mixins.scss";

#section-home {
  position: relative;
  overflow: hidden;
  padding: 0;
  max-width: 1368px;

  .hero-control-prev,
  .hero-control-next {
    @include center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: rgba($light, 0.75);
    z-index: 4;
    cursor: pointer;

    img {
      height: 50%;
      width: auto;
    }
  }

  .hero-control-prev {
    left: 1rem;
    padding-right: 0.125rem;
  }

  .hero-control-next {
    right: 1rem;
    padding-left: 0.125rem;

    @media (min-width: 1024px) {
      right: 2rem;
    }
  }

  .hero-carousel {
    height: calc(100vh - #{$mobile-header-height});
    max-height: 768px;
    max-width: 1368px;

    @media (min-width: 1024px) {
      height: calc(100vh - #{$desktop-header-height});
    }
    .hero-wrapper {
      @include center;
      height: calc(100vh - #{$mobile-header-height});
      max-height: 768px;
      position: relative;
      width: 100vw;
      max-width: 1368px;
      overflow: hidden;

      .hero-image {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .hero-text {
        @include hero-text;
        max-width: 80%;
        text-align: center;
        z-index: 2;
        color: $dark-blue;
      }

      @media (min-width: 1024px) {
        height: calc(100vh - #{$desktop-header-height});
      }
    }
  }
}
