$base-font: "Spartan", sans-serif;

$light: #f2f2f2;
$light-blue: #00a7e1;
$blue: #007ea7;
$dark-blue: #003459;
$dark: #00171f;

$mobile-header-height: 40px;
$desktop-header-height: 60px;

$mobile-h2-size: 24px;
$mobile-h2-line-height: 36px;
$mobile-h3-size: 20px;
$mobile-h3-line-height: 30px;
$mobile-h4-size: 18px;
$mobile-h4-line-height: 26px;
$mobile-p-size: 16px;
$mobile-p-line-height: 24px;

$tablet-h2-size: 32px;
$tablet-h2-line-height: 48px;
$tablet-h3-size: 24px;
$tablet-h3-line-height: 36px;
$tablet-h4-size: 22px;
$tablet-h4-line-height: 33px;
$tablet-p-size: 18px;
$tablet-p-line-height: 28px;
