@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap");
#section-about .about-wrapper {
  padding-top: 40px;
  padding-bottom: 0;
  position: relative;
  position: relative;
}

@media (min-width: 768px) {
  #section-about .about-wrapper {
    padding-top: 60px;
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) {
  #section-about .about-wrapper {
    padding-top: 100px;
    padding-bottom: 0;
  }
}

#section-about .about-wrapper:before {
  position: absolute;
  top: 47px;
  left: 0;
  content: "W";
  font-size: 160px;
  line-height: 160px;
  font-weight: 900;
  color: rgba(0, 23, 31, 0.05);
}

@media (min-width: 768px) {
  #section-about .about-wrapper:before {
    top: 71px;
    font-size: 210px;
    line-height: 210px;
  }
}

@media (min-width: 1024px) {
  #section-about .about-wrapper:before {
    top: 113px;
    font-size: 230px;
    line-height: 230px;
  }
}

#section-about .about-wrapper .section-title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05em;
}

@media (min-width: 768px) {
  #section-about .about-wrapper .section-title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) {
  #section-about .about-wrapper .section-title {
    font-weight: 600;
  }
}

@media (min-width: 1024px) {
  #section-about .about-wrapper .section-title {
    font-weight: 700;
  }
}

#section-about .about-wrapper .section-paragraph {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  font-weight: 400;
}

@media (min-width: 768px) {
  #section-about .about-wrapper .section-paragraph {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  #section-about .about-wrapper .section-paragraph {
    font-weight: 500;
  }
}

#section-about .about-wrapper .about-counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

#section-about .about-wrapper .about-counters .about-counter {
  width: 30vw;
  height: 30vw;
  min-width: 280px;
  max-width: 300px;
  min-height: 280px;
  max-height: 300px;
  background: #003459;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 40px;
  padding-top: 60px;
}

#section-about .about-wrapper .about-counters .about-counter-number {
  color: #f2f2f2;
  font-size: 60px;
  line-height: 100px;
  font-weight: 900;
}

#section-about .about-wrapper .about-counters .about-counter-text {
  color: #f2f2f2;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

@media (min-width: 768px) {
  #section-about .about-wrapper .about-counters {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
    margin-bottom: 0;
  }
  #section-about .about-wrapper .about-counters .about-counter {
    min-width: 220px;
    max-width: 220px;
    min-height: 220px;
    max-height: 220px;
    padding-left: 30px;
    padding-top: 36px;
  }
  #section-about .about-wrapper .about-counters .about-counter-number {
    font-size: 50px;
    line-height: 90px;
  }
}

@media (min-width: 1024px) {
  #section-about .about-wrapper .about-counters {
    margin-top: 80px;
  }
  #section-about .about-wrapper .about-counters .about-counter {
    min-width: 280px;
    max-width: 280px;
    min-height: 280px;
    max-height: 280px;
    padding-left: 40px;
    padding-top: 60px;
  }
  #section-about .about-wrapper .about-counters .about-counter-number {
    color: #f2f2f2;
    font-size: 60px;
    line-height: 100px;
    font-weight: 900;
  }
  #section-about .about-wrapper .about-counters .about-counter-text {
    color: #f2f2f2;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }
}

@media (min-width: 1240px) {
  #section-about .about-wrapper .about-counters {
    max-width: 1240px;
    margin: 80px auto 0;
  }
}

@media (min-width: 1024px) {
  #section-about .about-wrapper .section-title,
  #section-about .about-wrapper .section-paragraph {
    width: 65%;
  }
  #section-about .about-wrapper:after {
    position: absolute;
    content: "";
    top: 100px;
    right: 0;
    width: 50%;
    height: calc(100% - 120px);
    background: rgba(0, 52, 89, 0.1);
    z-index: -1;
  }
}

#section-benefits .benefits-wrapper {
  padding-top: 40px;
  padding-bottom: 0;
  position: relative;
}

@media (min-width: 768px) {
  #section-benefits .benefits-wrapper {
    padding-top: 60px;
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) {
  #section-benefits .benefits-wrapper {
    padding-top: 100px;
    padding-bottom: 0;
  }
}

#section-benefits .benefits-wrapper:before {
  position: absolute;
  top: 47px;
  left: 0;
  content: "W";
  font-size: 160px;
  line-height: 160px;
  font-weight: 900;
  color: rgba(0, 23, 31, 0.05);
}

@media (min-width: 768px) {
  #section-benefits .benefits-wrapper:before {
    top: 71px;
    font-size: 210px;
    line-height: 210px;
  }
}

@media (min-width: 1024px) {
  #section-benefits .benefits-wrapper:before {
    top: 113px;
    font-size: 230px;
    line-height: 230px;
  }
}

#section-benefits .benefits-wrapper:before {
  content: "A";
}

#section-benefits .benefits-wrapper .section-title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05em;
}

@media (min-width: 768px) {
  #section-benefits .benefits-wrapper .section-title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) {
  #section-benefits .benefits-wrapper .section-title {
    font-weight: 600;
  }
}

@media (min-width: 1024px) {
  #section-benefits .benefits-wrapper .section-title {
    font-weight: 700;
  }
}

#section-benefits .benefits-wrapper .benefits-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  margin-top: 20px;
}

#section-benefits .benefits-wrapper .benefits-list-wrapper .benefits-item-wrapper {
  width: 30vw;
  height: auto;
  min-width: 280px;
  max-width: 300px;
  min-height: 180px;
  max-height: 300px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

#section-benefits .benefits-wrapper .benefits-list-wrapper .benefits-item-wrapper:first-of-type {
  padding-top: 0;
}

#section-benefits .benefits-wrapper .benefits-list-wrapper .benefits-item-wrapper .benefits-image {
  width: 50px;
  height: auto;
  max-height: 50px;
  margin: 10px;
}

#section-benefits .benefits-wrapper .benefits-list-wrapper .benefits-item-wrapper .benefits-text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  text-align: center;
  padding: 0 20px;
}

@media (min-width: 768px) {
  #section-benefits .benefits-wrapper .benefits-list-wrapper .benefits-item-wrapper .benefits-text {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  #section-benefits .benefits-wrapper .benefits-list-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  #section-benefits .benefits-wrapper .benefits-list-wrapper .benefits-item-wrapper {
    min-width: 220px;
    max-width: 220px;
    min-height: 220px;
    max-height: 220px;
    padding-left: 30px;
    padding-top: 20px;
  }
  #section-benefits .benefits-wrapper .benefits-list-wrapper .benefits-item-wrapper:first-of-type {
    padding-top: 20px;
  }
  #section-benefits .benefits-wrapper .benefits-list-wrapper .benefits-item-wrapper .benefits-text {
    padding: 0;
    font-size: 14px;
    line-height: 22px;
  }
}

@media (min-width: 1024px) {
  #section-benefits .benefits-wrapper .benefits-list-wrapper {
    margin-top: 80px;
  }
  #section-benefits .benefits-wrapper .benefits-list-wrapper .benefits-item-wrapper {
    min-width: 280px;
    max-width: 280px;
    min-height: 280px;
    max-height: 280px;
    padding-left: 40px;
    padding-top: 20px;
  }
  #section-benefits .benefits-wrapper .benefits-list-wrapper .benefits-item-wrapper:first-of-type {
    padding-top: 20px;
  }
  #section-benefits .benefits-wrapper .benefits-list-wrapper .benefits-item-wrapper .benefits-image {
    width: 60px;
    height: auto;
    max-height: 60px;
    margin: 10px;
  }
  #section-benefits .benefits-wrapper .benefits-list-wrapper .benefits-item-wrapper .benefits-text {
    padding: 0;
    padding-top: 20px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1200px) {
  #section-benefits .benefits-wrapper .benefits-list-wrapper {
    margin-top: 80px;
    max-width: 1200px;
  }
  #section-benefits .benefits-wrapper .benefits-list-wrapper .benefits-item-wrapper {
    min-width: 350px;
    max-width: 350px;
    min-height: 300px;
    max-height: 300px;
    padding-left: 40px;
    padding-top: 20px;
  }
  #section-benefits .benefits-wrapper .benefits-list-wrapper .benefits-item-wrapper:first-of-type {
    padding-top: 20px;
  }
  #section-benefits .benefits-wrapper .benefits-list-wrapper .benefits-item-wrapper .benefits-image {
    width: 60px;
    height: auto;
    max-height: 60px;
    margin: 10px;
  }
  #section-benefits .benefits-wrapper .benefits-list-wrapper .benefits-item-wrapper .benefits-text {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) {
  #section-benefits .benefits-wrapper:after {
    position: absolute;
    content: "";
    top: 100px;
    right: 0;
    width: 50%;
    height: calc(100% - 160px);
    background: rgba(0, 52, 89, 0.1);
    z-index: -1;
  }
}

#section-kontakt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #00171f;
  color: #f2f2f2;
  padding: 20px;
  margin-top: 40px;
}

@media (min-width: 768px) {
  #section-kontakt {
    padding: 30px 40px;
    margin-top: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  #section-kontakt {
    padding: 30px 48px;
    margin-top: 80px;
  }
}

@media (min-width: 1280px) {
  #section-kontakt {
    padding: 0 64px;
  }
}

#section-kontakt .contact,
#section-kontakt .company,
#section-kontakt .menu {
  padding: 20px 0;
}

#section-kontakt .contact-article-header,
#section-kontakt .company-article-header,
#section-kontakt .menu-article-header {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  #section-kontakt .contact-article-header,
  #section-kontakt .company-article-header,
  #section-kontakt .menu-article-header {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-width: 768px) {
  #section-kontakt .contact-article-header,
  #section-kontakt .company-article-header,
  #section-kontakt .menu-article-header {
    font-size: 18px;
    line-height: 24px;
  }
}

#section-kontakt .contact-article-item,
#section-kontakt .company-article-item,
#section-kontakt .menu-article-item {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  #section-kontakt .contact-article-item,
  #section-kontakt .company-article-item,
  #section-kontakt .menu-article-item {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  #section-kontakt .contact-article-item,
  #section-kontakt .company-article-item,
  #section-kontakt .menu-article-item {
    font-size: 14px;
    line-height: 20px;
  }
}

#section-kontakt .contact-article-item a,
#section-kontakt .company-article-item a,
#section-kontakt .menu-article-item a {
  color: #f2f2f2;
}

#section-kontakt .contact-article-item a img,
#section-kontakt .company-article-item a img,
#section-kontakt .menu-article-item a img {
  height: 20px;
  width: auto;
  margin-top: 8px;
}

#section-kontakt .contact .footer-navigation,
#section-kontakt .company .footer-navigation,
#section-kontakt .menu .footer-navigation {
  padding-left: 20px;
  font-weight: 400;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  font-weight: 600;
}

#section-kontakt .contact .footer-navigation li,
#section-kontakt .company .footer-navigation li,
#section-kontakt .menu .footer-navigation li {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 6px;
}

#section-kontakt .contact .footer-navigation li:last-of-type,
#section-kontakt .company .footer-navigation li:last-of-type,
#section-kontakt .menu .footer-navigation li:last-of-type {
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  #section-kontakt .contact .footer-navigation,
  #section-kontakt .company .footer-navigation,
  #section-kontakt .menu .footer-navigation {
    padding-left: 40px;
    font-weight: 500;
  }
  #section-kontakt .contact .footer-navigation li,
  #section-kontakt .company .footer-navigation li,
  #section-kontakt .menu .footer-navigation li {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px;
  }
  #section-kontakt .contact .footer-navigation li:last-of-type,
  #section-kontakt .company .footer-navigation li:last-of-type,
  #section-kontakt .menu .footer-navigation li:last-of-type {
    margin-bottom: 16px;
  }
}

#section-kontakt .contact .footer-navigation li,
#section-kontakt .company .footer-navigation li,
#section-kontakt .menu .footer-navigation li {
  padding-left: 0;
  margin-bottom: 0;
}

#section-kontakt .contact .footer-navigation li a,
#section-kontakt .company .footer-navigation li a,
#section-kontakt .menu .footer-navigation li a {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #f2f2f2;
}

@media (min-width: 768px) {
  #section-kontakt .contact .footer-navigation li a,
  #section-kontakt .company .footer-navigation li a,
  #section-kontakt .menu .footer-navigation li a {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  #section-kontakt .contact .footer-navigation li a,
  #section-kontakt .company .footer-navigation li a,
  #section-kontakt .menu .footer-navigation li a {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  #section-kontakt .contact .footer-navigation li,
  #section-kontakt .company .footer-navigation li,
  #section-kontakt .menu .footer-navigation li {
    text-align: right;
    line-height: 24px;
  }
}

@media (min-width: 768px) {
  #section-kontakt .company {
    padding-left: 20px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  background: #00171f;
  color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
  overflow: visible;
}

header .brand img {
  width: 40px;
  height: auto;
  -webkit-filter: invert(100%) sepia(0%) saturate(7438%) hue-rotate(164deg) brightness(104%) contrast(112%);
          filter: invert(100%) sepia(0%) saturate(7438%) hue-rotate(164deg) brightness(104%) contrast(112%);
  z-index: 5;
  margin-left: 20px;
}

header .navigation-wrapper {
  position: absolute;
  top: 0;
  left: 100vw;
  width: 100vw;
  height: 100vh;
  width: 100vw;
  z-index: 4;
  -webkit-transition: -webkit-transform 0.75s ease-out;
  transition: -webkit-transform 0.75s ease-out;
  transition: transform 0.75s ease-out;
  transition: transform 0.75s ease-out, -webkit-transform 0.75s ease-out;
}

header .navigation-wrapper.navigation-visible {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: -webkit-transform 0.75s ease-out;
  transition: -webkit-transform 0.75s ease-out;
  transition: transform 0.75s ease-out;
  transition: transform 0.75s ease-out, -webkit-transform 0.75s ease-out;
}

header .navigation-wrapper .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 23, 31, 0.99);
}

header .navigation-wrapper .navigation-item {
  color: #f2f2f2;
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin: 10px 0;
}

header .navigation-wrapper .navigation-item a {
  color: #f2f2f2;
}

@media (min-width: 768px) {
  header .navigation-wrapper .navigation-item {
    font-size: 24px;
    font-weight: 600;
    margin: 12px 0;
  }
}

@media (min-width: 1024px) {
  header .navigation-wrapper {
    position: relative;
    top: unset;
    left: unset;
    width: auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navigation-wrapper .navigation {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .navigation-wrapper .navigation-item {
    min-width: 100px;
    color: #f2f2f2;
    list-style: none;
    text-transform: uppercase;
  }
  header .navigation-wrapper .navigation-item a {
    color: #f2f2f2;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  header {
    height: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .brand img {
    width: 60px;
    height: auto;
    margin-left: 0;
  }
}

header .hamburger {
  width: 40px;
  height: 40px;
  margin-right: calc(40px / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

header .hamburger .hamburger-line {
  position: relative;
  display: block;
  width: 70%;
  height: 2px;
  border-radius: 2px;
  background: #f2f2f2;
}

header .hamburger .hamburger-line:before, header .hamburger .hamburger-line:after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #f2f2f2;
}

header .hamburger .hamburger-line:before {
  top: -9px;
}

header .hamburger .hamburger-line:after {
  top: 9px;
}

@media (min-width: 1024px) {
  header .hamburger {
    position: relative;
    display: none;
  }
}

#section-home {
  position: relative;
  overflow: hidden;
  padding: 0;
  max-width: 1368px;
}

#section-home .hero-control-prev,
#section-home .hero-control-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: rgba(242, 242, 242, 0.75);
  z-index: 4;
  cursor: pointer;
}

#section-home .hero-control-prev img,
#section-home .hero-control-next img {
  height: 50%;
  width: auto;
}

#section-home .hero-control-prev {
  left: 1rem;
  padding-right: 0.125rem;
}

#section-home .hero-control-next {
  right: 1rem;
  padding-left: 0.125rem;
}

@media (min-width: 1024px) {
  #section-home .hero-control-next {
    right: 2rem;
  }
}

#section-home .hero-carousel {
  height: calc(100vh - 40px);
  max-height: 768px;
  max-width: 1368px;
}

@media (min-width: 1024px) {
  #section-home .hero-carousel {
    height: calc(100vh - 60px);
  }
}

#section-home .hero-carousel .hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 40px);
  max-height: 768px;
  position: relative;
  width: 100vw;
  max-width: 1368px;
  overflow: hidden;
}

#section-home .hero-carousel .hero-wrapper .hero-image {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#section-home .hero-carousel .hero-wrapper .hero-text {
  font-size: 32px;
  line-height: 44px;
  max-width: 80%;
  text-align: center;
  z-index: 2;
  color: #003459;
}

@media (min-width: 768px) {
  #section-home .hero-carousel .hero-wrapper .hero-text {
    font-size: 40px;
    line-height: 60px;
  }
}

@media (min-width: 1024px) {
  #section-home .hero-carousel .hero-wrapper .hero-text {
    font-size: 60px;
    line-height: 80px;
  }
}

@media (min-width: 1024px) {
  #section-home .hero-carousel .hero-wrapper .hero-text {
    font-size: 60px;
    line-height: 80px;
  }
}

@media (min-width: 1024px) {
  #section-home .hero-carousel .hero-wrapper {
    height: calc(100vh - 60px);
  }
}

#section-prices .prices-wrapper {
  padding-top: 40px;
  padding-bottom: 0;
  position: relative;
}

@media (min-width: 768px) {
  #section-prices .prices-wrapper {
    padding-top: 60px;
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) {
  #section-prices .prices-wrapper {
    padding-top: 100px;
    padding-bottom: 0;
  }
}

#section-prices .prices-wrapper:before {
  position: absolute;
  top: 47px;
  left: 0;
  content: "W";
  font-size: 160px;
  line-height: 160px;
  font-weight: 900;
  color: rgba(0, 23, 31, 0.05);
}

@media (min-width: 768px) {
  #section-prices .prices-wrapper:before {
    top: 71px;
    font-size: 210px;
    line-height: 210px;
  }
}

@media (min-width: 1024px) {
  #section-prices .prices-wrapper:before {
    top: 113px;
    font-size: 230px;
    line-height: 230px;
  }
}

#section-prices .prices-wrapper:before {
  content: "C";
}

#section-prices .prices-wrapper .section-title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05em;
}

@media (min-width: 768px) {
  #section-prices .prices-wrapper .section-title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) {
  #section-prices .prices-wrapper .section-title {
    font-weight: 600;
  }
}

@media (min-width: 1024px) {
  #section-prices .prices-wrapper .section-title {
    font-weight: 700;
  }
}

#section-prices .prices-wrapper .section-paragraph {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  font-weight: 400;
}

@media (min-width: 768px) {
  #section-prices .prices-wrapper .section-paragraph {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  #section-prices .prices-wrapper .section-paragraph {
    font-weight: 500;
  }
}

@media (min-width: 1024px) {
  #section-prices .prices-wrapper:before {
    content: "C";
    top: 13px;
  }
}

#section-prices .prices-wrapper .prices-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section-prices .prices-wrapper .prices-list-wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 150px;
  padding: 20px;
  background: rgba(0, 52, 89, 0.5);
  margin-bottom: 20px;
  position: relative;
}

#section-prices .prices-wrapper .prices-list-wrapper:before, #section-prices .prices-wrapper .prices-list-wrapper:after {
  position: absolute;
  content: "";
  background: #00171f;
  bottom: 0;
  right: 0;
}

#section-prices .prices-wrapper .prices-list-wrapper:before {
  width: 50px;
  height: 3px;
}

#section-prices .prices-wrapper .prices-list-wrapper:after {
  height: 50px;
  width: 3px;
}

#section-prices .prices-wrapper .prices-list-wrapper .prices-list-title {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 16px;
  font-weight: 600;
}

@media (min-width: 768px) {
  #section-prices .prices-wrapper .prices-list-wrapper .prices-list-title {
    font-size: 22px;
    line-height: 33px;
  }
}

#section-prices .prices-wrapper .prices-list-wrapper .prices-list-item {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  font-weight: 500;
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  #section-prices .prices-wrapper .prices-list-wrapper .prices-list-item {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  #section-prices .prices-wrapper .prices-list-wrapper {
    width: calc(50% - 10px);
    margin-right: 20px;
  }
  #section-prices .prices-wrapper .prices-list-wrapper:nth-of-type(even) {
    margin-right: 0;
  }
  #section-prices .prices-wrapper .prices-list-wrapper .prices-list-item {
    margin-bottom: 12px;
  }
}

@media (min-width: 1024px) {
  #section-prices .prices-wrapper .prices-list-wrapper {
    width: calc(50% - 15px);
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 30px;
  }
  #section-prices .prices-wrapper .prices-list-wrapper:nth-of-type(even) {
    margin-right: 0;
  }
  #section-prices .prices-wrapper .prices-list-wrapper .prices-list-item {
    margin-bottom: 12px;
  }
}

#section-services .services-wrapper {
  padding-top: 40px;
  padding-bottom: 0;
  position: relative;
}

@media (min-width: 768px) {
  #section-services .services-wrapper {
    padding-top: 60px;
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) {
  #section-services .services-wrapper {
    padding-top: 100px;
    padding-bottom: 0;
  }
}

#section-services .services-wrapper:before {
  position: absolute;
  top: 47px;
  left: 0;
  content: "W";
  font-size: 160px;
  line-height: 160px;
  font-weight: 900;
  color: rgba(0, 23, 31, 0.05);
}

@media (min-width: 768px) {
  #section-services .services-wrapper:before {
    top: 71px;
    font-size: 210px;
    line-height: 210px;
  }
}

@media (min-width: 1024px) {
  #section-services .services-wrapper:before {
    top: 113px;
    font-size: 230px;
    line-height: 230px;
  }
}

#section-services .services-wrapper:before {
  content: "O";
}

#section-services .services-wrapper .section-title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05em;
  max-width: 100%;
}

@media (min-width: 768px) {
  #section-services .services-wrapper .section-title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) {
  #section-services .services-wrapper .section-title {
    font-weight: 600;
  }
}

@media (min-width: 1024px) {
  #section-services .services-wrapper .section-title {
    font-weight: 700;
  }
}

#section-services .services-wrapper .section-paragraph {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  font-weight: 400;
  max-width: 100%;
}

@media (min-width: 768px) {
  #section-services .services-wrapper .section-paragraph {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  #section-services .services-wrapper .section-paragraph {
    font-weight: 500;
  }
}

#section-services .services-wrapper .services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section-services .services-wrapper .services-list-section {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 150px;
  padding: 20px;
  background: rgba(0, 52, 89, 0.5);
  margin-bottom: 20px;
  position: relative;
}

#section-services .services-wrapper .services-list-section:before, #section-services .services-wrapper .services-list-section:after {
  position: absolute;
  content: "";
  background: #00171f;
  bottom: 0;
  right: 0;
}

#section-services .services-wrapper .services-list-section:before {
  width: 50px;
  height: 3px;
}

#section-services .services-wrapper .services-list-section:after {
  height: 50px;
  width: 3px;
}

#section-services .services-wrapper .services-list-section .services-list-item {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  font-weight: 500;
}

@media (min-width: 768px) {
  #section-services .services-wrapper .services-list-section .services-list-item {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  #section-services .services-wrapper .services-list-section {
    width: calc(50% - 10px);
    margin-right: 20px;
  }
  #section-services .services-wrapper .services-list-section:nth-of-type(even) {
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  #section-services .services-wrapper .services-list-section {
    width: calc(50% - 15px);
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 30px;
  }
  #section-services .services-wrapper .services-list-section:nth-of-type(even) {
    margin-right: 0;
  }
}

.images-wrapper {
  width: 100vw;
  height: auto;
  max-width: 1240px;
  margin: 40px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.images-wrapper img {
  width: calc(100% / 4);
  height: calc(100% / 4 / 4 * 3);
  margin: 0;
  padding: 0;
}

.images-wrapper img:not(:first-of-type) {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media (max-width: 600px) {
  .images-wrapper img {
    width: calc(100% / 3);
  }
  .images-wrapper img:nth-of-type(4) {
    display: none;
  }
}

.contact-form-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form-wrapper .contact-form-alert {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 60px;
  line-height: 60px;
  font-family: "Spartan", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #00171f;
  text-align: center;
}

.contact-form-wrapper .contact-form-alert.negative {
  color: rgba(167, 55, 55, 0.75);
  font-size: 18px;
}

.contact-form-wrapper .contact-form__lead-text {
  color: #00171f;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
  padding: 16px 0 16px;
  text-transform: uppercase;
  position: relative;
}

.contact-form-wrapper .contact-form__lead-text:before {
  position: absolute;
  top: 47px;
  left: 0;
  content: "W";
  font-size: 160px;
  line-height: 160px;
  font-weight: 900;
  color: rgba(0, 23, 31, 0.05);
}

@media (min-width: 768px) {
  .contact-form-wrapper .contact-form__lead-text:before {
    top: 71px;
    font-size: 210px;
    line-height: 210px;
  }
}

@media (min-width: 1024px) {
  .contact-form-wrapper .contact-form__lead-text:before {
    top: 113px;
    font-size: 230px;
    line-height: 230px;
  }
}

.contact-form-wrapper .contact-form__lead-text:before {
  content: "W";
  top: 21px;
}

.contact-form-wrapper .contact-form {
  background: transparent;
  display: block;
  width: 100%;
  max-width: 100vw;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.contact-form-wrapper .contact-form .input-wrapper {
  width: 100%;
  position: relative;
}

.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-name,
.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-email,
.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-phone,
.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-message {
  width: 100%;
  margin-top: 16px;
  padding: 24px 4px 16px 16px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border: 1px solid rgba(0, 23, 31, 0.5);
  position: relative;
}

.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-name:focus,
.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-email:focus,
.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-phone:focus,
.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-message:focus {
  background: transparent;
}

.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-name::-webkit-input-placeholder,
.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-email::-webkit-input-placeholder,
.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-phone::-webkit-input-placeholder,
.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-message::-webkit-input-placeholder {
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  font-size: 14px;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-name:-ms-input-placeholder,
.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-email:-ms-input-placeholder,
.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-phone:-ms-input-placeholder,
.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-message:-ms-input-placeholder {
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  font-size: 14px;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-name::-ms-input-placeholder,
.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-email::-ms-input-placeholder,
.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-phone::-ms-input-placeholder,
.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-message::-ms-input-placeholder {
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  font-size: 14px;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-name::placeholder,
.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-email::placeholder,
.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-phone::placeholder,
.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-message::placeholder {
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  font-size: 14px;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-message {
  height: 120px;
  resize: none;
}

.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-message::-webkit-input-placeholder {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-message:-ms-input-placeholder {
  transform: translateY(60px);
}

.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-message::-ms-input-placeholder {
  transform: translateY(60px);
}

.contact-form-wrapper .contact-form .input-wrapper .contact-form--input-message::placeholder {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

.contact-form-wrapper .contact-form .input-wrapper::after {
  position: absolute;
  bottom: -8px;
  left: 0px;
  height: 20px;
  line-height: 20px;
  width: auto;
  padding: 0 1rem;
  color: rgba(167, 55, 55, 0.75);
  visibility: hidden;
  background-color: #f2f2f2;
  z-index: 5;
  font-family: "Spartan", sans-serif;
  font-size: 0.9rem;
}

.contact-form-wrapper .contact-form .input-wrapper:nth-of-type(1)::after {
  content: "Proszę podać Imię";
}

.contact-form-wrapper .contact-form .input-wrapper:nth-of-type(2)::after {
  content: "Proszę podać poprawny adres email";
}

.contact-form-wrapper .contact-form .input-wrapper:nth-of-type(3)::after {
  content: "Proszę podać poprawny numer telefonu";
}

.contact-form-wrapper .contact-form .input-wrapper:nth-of-type(4)::after {
  content: "Proszę uzupełnić treść";
  bottom: -2px;
}

.contact-form-wrapper .contact-form .input-wrapper.incorrect::after {
  visibility: visible;
}

.contact-form-wrapper .contact-form .input-wrapper.incorrect input,
.contact-form-wrapper .contact-form .input-wrapper.incorrect textarea {
  border-bottom: 1px solid rgba(167, 55, 55, 0.75);
}

.contact-form-wrapper .contact-form .disclaimer {
  width: 100%;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Spartan", sans-serif;
  font-size: 0.8rem;
  color: #00171f;
}

.contact-form-wrapper .contact-form .disclaimer span {
  text-align: center;
}

.contact-form-wrapper .contact-form .disclaimer span a {
  color: #00171f;
}

.contact-form-wrapper .contact-form--input-submit {
  width: calc(100% - 40px);
  max-width: 360px;
  margin: 32px auto;
  height: 80px;
  font-family: "Spartan", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.5px;
  cursor: pointer;
  background: #00171f;
  color: #f2f2f2;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

@media screen and (min-width: 768px) {
  .contact-form-wrapper {
    margin-bottom: 40px;
  }
  .contact-form-wrapper .contact-form__lead-text,
  .contact-form-wrapper .contact-form {
    max-width: 768px;
  }
  .contact-form-wrapper .contact-form__lead-text {
    text-align: left;
    padding: 50px 0 24px;
    position: relative;
  }
  .contact-form-wrapper .contact-form__lead-text:before {
    position: absolute;
    top: 47px;
    left: 0;
    content: "W";
    font-size: 160px;
    line-height: 160px;
    font-weight: 900;
    color: rgba(0, 23, 31, 0.05);
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .contact-form-wrapper .contact-form__lead-text:before {
    top: 71px;
    font-size: 210px;
    line-height: 210px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  .contact-form-wrapper .contact-form__lead-text:before {
    top: 113px;
    font-size: 230px;
    line-height: 230px;
  }
}

@media screen and (min-width: 768px) {
  .contact-form-wrapper .contact-form__lead-text:before {
    content: "W";
    top: 56px;
  }
  .contact-form-wrapper .contact-form-alert {
    height: 100px;
    line-height: 100px;
    font-size: 32px;
  }
  .contact-form-wrapper .contact-form-alert.negative {
    color: rgba(167, 55, 55, 0.75);
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .contact-form-wrapper {
    margin: 64px 48px 40px;
    padding: 0;
  }
  .contact-form-wrapper:after {
    position: absolute;
    content: "";
    top: 50px;
    right: 48px;
    width: calc(50% - 48px);
    height: calc(100% - 50px);
    background: rgba(0, 52, 89, 0.1);
    z-index: -1;
  }
}

@media (min-width: 1280px) {
  .contact-form-wrapper {
    margin: 64px 64px 40px;
    padding: 0;
  }
  .contact-form-wrapper:after {
    right: 64px;
    width: calc(50% - 64px);
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #f2f2f2;
  color: #00171f;
}

body header,
body footer {
  width: 100vw;
}

@media (min-width: 1280px) {
  body header,
  body footer {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media (min-width: 1408px) {
  body header,
  body footer {
    padding-left: calc((100vw - 1280px) / 2);
    padding-right: calc((100vw - 1280px) / 2);
  }
}

body a {
  text-decoration: none;
  color: #00171f;
}

body #section-home,
body #section-about,
body #section-services,
body #section-benefits,
body #section-prices,
body .contact-form-wrapper {
  width: 100%;
  max-width: 1368px;
  padding: 20px;
  margin-top: 40px;
}

@media (min-width: 768px) {
  body #section-home,
  body #section-about,
  body #section-services,
  body #section-benefits,
  body #section-prices,
  body .contact-form-wrapper {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  body #section-home,
  body #section-about,
  body #section-services,
  body #section-benefits,
  body #section-prices,
  body .contact-form-wrapper {
    padding: 0 48px;
    margin-top: 60px;
  }
}

@media (min-width: 1280px) {
  body #section-home,
  body #section-about,
  body #section-services,
  body #section-benefits,
  body #section-prices,
  body .contact-form-wrapper {
    padding: 0 64px;
  }
}

@media (min-width: 1024px) {
  body .contact-form-wrapper {
    margin: 64px 48px 40px;
    padding: 0;
  }
}

@media (min-width: 1280px) {
  body .contact-form-wrapper {
    margin: 64px 64px 40px;
    padding: 0;
  }
}

body #section-home {
  padding: 0;
}
/*# sourceMappingURL=style.css.map */